body{
    margin: 0;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: rgb(9, 9, 9);
}


input{
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
    border-radius: 10px;
}
button{
    background: rgb(173, 115, 148);
    color:white;
    padding: 5px 20px;
    margin-left: 18px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    
}

button:hover{
    background-color: black;
}

ul{
    list-style: none;
    padding-left: 0;
}


li{
    margin-top: 5px;
}

li a{
    color: #5f9341;
}


.delete{
    background-color: rgb(15, 15, 14);
    height: 25px;
    width: 2px;
    border: none;
    position: relative;
    right: 10px;
    top:14px ;
}

img{
    height: 25px;
    position: relative;
    right: 12px;
    bottom: 5px ;
    

}